### Classification Based Collaborative Filtering (Logistic Classification in this case)

In [1]:
import pandas as pd
import numpy as np 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error, make_scorer

In [2]:
bank = pd.read_csv('bank/bank-full.csv', delimiter=";")

### Preprocess Data

In [3]:
bank["y_binary"] = bank["y"].map(dict(yes=1, no=0))
bank = bank.drop("y", axis=1)

In [4]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y_binary
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,0

In [5]:
cat_features = bank.select_dtypes(include = ["object"]).columns
num_features = bank.select_dtypes(include = ["int64"]).columns
num_features

Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous',
       'y_binary'],
      dtype='object')

In [6]:
bank_cat = bank[cat_features]
bank_num = bank[num_features]

In [7]:
bank_cat = pd.get_dummies(bank_cat)
bank_cat.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
2,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [8]:
bank = pd.concat([bank_num, bank_cat], axis = 1)
bank.head()

,age,balance,day,duration,campaign,pdays,previous,y_binary,job_admin.,job_blue-collar,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,2143,5,261,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,44,29,5,151,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,33,2,5,76,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,47,1506,5,92,1,-1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
4,33,1,5,198,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [9]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 52 columns):
age                    45211 non-null int64
balance                45211 non-null int64
day                    45211 non-null int64
duration               45211 non-null int64
campaign               45211 non-null int64
pdays                  45211 non-null int64
previous               45211 non-null int64
y_binary               45211 non-null int64
job_admin.             45211 non-null uint8
job_blue-collar        45211 non-null uint8
job_entrepreneur       45211 non-null uint8
job_housemaid          45211 non-null uint8
job_management         45211 non-null uint8
job_retired            45211 non-null uint8
job_self-employed      45211 non-null uint8
job_services           45211 non-null uint8
job_student            45211 non-null uint8
job_technician         45211 non-null uint8
job_unemployed         45211 non-null uint8
job_unknown            45211 non-null uint8
marital_divorced       45211 non-null uint8
marital_married        45211 non-null uint8
marital_single         45211 non-null uint8
education_primary      45211 non-null uint8
education_secondary    45211 non-null uint8
education_tertiary     45211 non-null uint8
education_unknown      45211 non-null uint8
default_no             45211 non-null uint8
default_yes            45211 non-null uint8
housing_no             45211 non-null uint8
housing_yes            45211 non-null uint8
loan_no                45211 non-null uint8
loan_yes               45211 non-null uint8
contact_cellular       45211 non-null uint8
contact_telephone      45211 non-null uint8
contact_unknown        45211 non-null uint8
month_apr              45211 non-null uint8
month_aug              45211 non-null uint8
month_dec              45211 non-null uint8
month_feb              45211 non-null uint8
month_jan              45211 non-null uint8
month_jul              45211 non-null uint8
month_jun              45211 non-null uint8
month_mar              45211 non-null uint8
month_may              45211 non-null uint8
month_nov              45211 non-null uint8
month_oct              45211 non-null uint8
month_sep              45211 non-null uint8
poutcome_failure       45211 non-null uint8
poutcome_other         45211 non-null uint8
poutcome_success       45211 non-null uint8
poutcome_unknown       45211 non-null uint8
dtypes: int64(8), uint8(44)
memory usage: 4.7 MB

### Extract Test Data

In [10]:
y = bank["y_binary"]
train = bank.drop('y_binary', axis=1)
X_train, X_test, y_train, y_test = train_test_split(train, y, test_size = 0.3, random_state = 0)

### Create Model

In [11]:
# Define error measure for official scoring : RMSE
scorer = make_scorer(mean_squared_error, greater_is_better = False)

def rmse_cv_train(model):
    rmse= np.sqrt(-cross_val_score(model, X_train, y_train, scoring = scorer, cv = 10))
    return(rmse)

def rmse_cv_test(model):
    rmse= np.sqrt(-cross_val_score(model, X_test, y_test, scoring = scorer, cv = 10))
    return(rmse)

In [12]:
LogReg = LogisticRegression() 
LogReg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [16]:
print("RMSE on Training set :", rmse_cv_train(LogReg).mean())
print("RMSE on Test set :", rmse_cv_test(LogReg).mean())

RMSE on Training set : 0.311597661042
RMSE on Test set : 0.319694927992

In [ ]:
y_train_pred = LogReg.predict(X_train)
y_test_pred = LogReg.predict(X_test)